/* CSS layout for my gear page */
.my-gear-container {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  
}

.gear-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: calc(100% - 70px); 
  flex-grow: 1;
}

.gear-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gear-item img {
  width: 100%; 
  height: auto; 
}

.gear-item p {
  margin-top: 10px;
}

.salmon-character {
  position: absolute;
  left: 700px; 
  top: -100px;
  bottom: 0px;
  width: 70%;
  min-width: 300px; 
}

.salmon-character img {
  width: 100%;
  height: auto;
}